.fotter-page {
  padding: 1rem 7%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3, 
.footer-section p, 
.footer-bottom b {
  margin-bottom: 10px; 
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  margin-top: 5px;
}

.social-icons a{
  cursor: pointer;
  color: #979696;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  text-align: center;
}